<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/patient"
        android:label="@string/app_name"
        android:roundIcon="@drawable/patient"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientApp"
        tools:targetApi="31">

        <activity android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".activities.DashboardActivity" />
        <activity android:name=".activities.BloodPressureHistoryActivity" />
        <activity android:name=".activities.AllergyHistoryActivity" />
        <activity android:name=".activities.BloodOxygenHistoryActivity" />
        <activity android:name=".activities.BodyTemperatureHistoryActivity" />
        <activity android:name=".activities.PulseRateHistoryActivity" />
        <activity android:name=".activities.SugarLevelHistoryActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ChatScreenActivity" />
        <activity android:name=".activities.NewChatActivity" />
        <activity android:name=".activities.ChatDetailActivity" />
    </application>

</manifest>